@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
   --dark-blue: #000814;
   --medium-blue: rgba(00, 35, 66, 0.2);
   --light-blue: #6272ff;
   --lighter-blue: #8ecae6;
   --red-alerts: #ff4742;
}

body {
   display: flex;
   flex-direction: row;
   font-family: "Rubik", sans-serif;
   height: 100vh;
   width: 100vw;
   background: var(--dark-blue);
   justify-content: start;
}

#hero {
   display: flex;
   width: 35vw;
   height: 100%;
   background: url(./images/side-img.jpg) no-repeat center;
   background-size: cover;
   flex-direction: column;
   justify-content: center;
}
.logo {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   background-color: var(--light-blue);
   opacity: 0.5;
   font-size: 3rem;
   font-weight: bold;
   color: rgb(0, 0, 0);
   height: max(5vw, 5rem);
   text-align: center;
}

.main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 4vw;
   width: min(100%, 1000px);
   height: 100vh;
   padding: 0 2vw 0 2vw;
}

.welcome-text {
   color: var(--lighter-blue);
   font-size: max(1.4vw, 1.3rem);
   font-weight: 500;
}

em {
   font-style: italic;
   color: var(--red-alerts);
}

.log-in {
   color: var(--lighter-blue);
   font-size: max(1vw, 1.1rem);
}

form {
   border: none;
   padding: 2vw;
   border-radius: 12px;
   background-color: var(--medium-blue);
   box-shadow: 0 0 10px var(--light-blue);
}

.inputs-row {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   column-gap: 3vw;
}

.input-div {
   flex: 1;
   min-width: 300px;
   margin-top: 8px;
}

label {
   color: var(--lighter-blue);
   font-size: 0.8rem;
   display: block;
   text-transform: uppercase;
   font-weight: 300;
   padding-left: 12px;
}

input {
   margin: 3px 0 3px 0;
   border-radius: 8px;
   width: 100%;
   height: 2.2rem;
   border: none;
   background-color: var(--dark-blue);
   font-size: 1.1rem;
   padding-left: 12px;
   box-shadow: inset 0 0 8px var(--light-blue);
   outline: none;
   color: var(--lighter-blue);
   font-size: rem;
   font-family: "Rubik", sans-serif;
   font-weight: lighter;
}

.invalid {
   box-shadow: inset 0 0 10px var(--red-alerts);
}

.valid {
   box-shadow: inset 0 0 10px var(--light-blue);
}

.error-msg {
   color: var(--red-alerts);
   padding-left: 12px;
   font-size: small;
   visibility: hidden;
}

.submit-btn {
   background: initial;
   border: 1px solid var(--red-alerts);
   border-radius: 6px;
   box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
   color: #ff4742;
   cursor: pointer;
   display: inline-block;
   font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
   font-size: 16px;
   font-weight: 800;
   line-height: 16px;
   min-height: 40px;
   outline: 0;
   padding: 12px 14px;
   text-align: center;
   text-rendering: geometricprecision;
   text-transform: none;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: middle;
   width: 40%;
   margin: 5% 10% 0 0;
}

.submit-btn:hover,
.submit-btn:active {
   background-color: #ff4742;
   background-position: 0 0;
   color: #ffffff;
}

.submit-btn:active {
   opacity: 0.5;
}

a {
   color: var(--red-alerts);
}

@media screen and (max-width: 1000px) {
   body {
      flex-direction: column;
   }
   #hero {
      max-height: 30vh;
      width: 100vw;
   }

   .main {
      width: 100vw;
      padding: 2vw;
      gap: 2vw;
   }
}
